body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Search-header {
  background: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.header1 {
  font-size: 60px;
  position: relative;
  right: 275px;
}
.headSentence {
  position: relative;
  right: 275px;
}
.container {
  /* background: gray; */
}
.resultBadge {
  /* border: 1px solid blue; */
  /* text-align: center; */
}
.userImg {
  position: relative;
  left: 5px;
}
.bold {
  font-weight: bold;
}
/* .userInfo{
  position: relative;
  right: 300px;
}
.followerInfo{
    position: relative;
  right: 300px;
}
.followingInfo{
    position: relative;
  right: 300px;
} */
/* .reposListNum {
  border: 1px solid red;
} */
.logo {
  position: absolute;
  left: 200px;
  top: 30;
}
input[type="text"] {
  width: 50%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
  font-size: 30px;
  border: 4px solid black;
  border-radius: 5px;
  margin-bottom: 5%;
}

.Search-intro {
  width: 25%;
  padding: 15px 22px;
  margin: 10px 10px;
  box-sizing: border-box;
  font-size: 30px;
  border: 4px solid black;
  border-radius: 5px;
  float: left;
  position: absolute;
  left: 20%;
  text-align: center;
}
.ListView {
  width: 25%;
  padding: 15px 22px;
  margin: 10px 10px;
  box-sizing: border-box;
  font-size: 30px;
  border: 4px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
  /* left: 70%; */
  float: right;
  margin-right: 20%;
}
